@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 100;
  src: url('./../../assets/fonts/heebo-font/Heebo-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 200;
  src: url('./../../assets/fonts/heebo-font/Heebo-Light.woff') format('woff');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 400;
  src: url('./../../assets/fonts/heebo-font/Heebo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 500;
  src: url('./../../assets/fonts/heebo-font/Heebo-Medium.woff') format('woff');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 600;
  src: url('./../../assets/fonts/heebo-font/Heebo-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'heebo';
  font-style: normal;
  font-weight: 700;
  src: url('./../../assets/fonts/heebo-font/Heebo-Bold.woff') format('woff');
}
