@use './variables' as *;
@use './mixin' as *;

.button {
    @include button;

    &-primary {
        @include button(primary);
    }

    &-secondary {
        @include button(secondary);
    }

    &-outline-primary {
        @include button(outline-primary);
    }

    &-outline-secondary {
        @include button(outline-secondary);
    }

    &-disabled {
        @include button(disabled);
    }


}



.heading {
    &-primary {
        background-color: $white;
        display: inline-block;
        position: relative;
        padding-inline: 10px;
        text-transform: uppercase;
        color: $primary;
        font-weight: 500;
        font-size: 16px;
    
        &::before {
            position: absolute;
            content: "";
            width: calc(100% + 80px);
            height: 2px;
            top: 8px;
            left: -40px;
            background: $primary;
            z-index: -1;
        }
    
        &::after {
            position: absolute;
            content: "";
            width: calc(100% + 120px);
            height: 2px;
            bottom: 8px;
            left: -60px;
            background: $primary;
            z-index: -1;
        }
    }
    &-secondary {
        background-color: $white;
        display: inline-block;
        position: relative;
        padding-inline: 10px;
        text-transform: uppercase;
        color: $primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    
        &::before {
            position: absolute;
            content: "";
            width: calc(100% + 80px);
            height: 2px;
            top: 4px;
            left: 0;
            background: $primary;
            z-index: -1;
        }
    
        &::after {
            position: absolute;
            content: "";
            width: calc(100% + 120px);
            height: 2px;
            bottom: 4px;
            left: 0;
            background: $primary;
            z-index: -1;
        }
    }
}

.primary-subheading {
    color: $white;
    margin-bottom: 45px;
}

.secondary-heading {
    font-size: 20px;
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-family: 'heebo';
}

.font-semibold {
    font-weight: 600;
}

.container {
    max-width: 1320px;

    @include media-breakpoint-down-xxl {
        max-width: 1140px;
    }

    @include media-breakpoint-down-xl {
        max-width: 960px;
    }

    @include media-breakpoint-down-lg {
        max-width: 720px;
    }

    @include media-breakpoint-down-md {
        max-width: 540px;
    }

    @include media-breakpoint-down-sm {
        max-width: 100%;
    }
}