// colors

$primary: #06bbcc;
$light-blue: #f0fbfc;
$white: #ffffff;
$black: #000000;
$dark-black: #212529;
$night-black: #151515;
$black-main: #252525;
$dim-black: #0a0a0a;
$gray:#e9ecef;
$gray1:#c4c4c4;
$gray2:#EEEEEE;
$gray3: #999999;
$gray4: #4d4d4d;
$gray5: #1a1a1a;
$gray-night: #464646;