@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.homepage {
    .main-banner {
        .banner-item {
            position: relative;

            .banner-content {
                position: absolute;
                left: 0;
                height: 100%;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(24, 29, 56, .7);
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    color: $white;
                }

                .banner-main {
                    padding-left: 10%;
                    max-width: 80%;
                }
            }
        }

        .carousel {
            .carousel-action {
                position: absolute;
                top: 50%;
                left: auto;
                right: 50px;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);
                flex-direction: column;
                gap: 20px;
            }

            .carousel-control-prev {
                left: auto;
                height: auto;
                width: auto;
                display: block;
                top: 40%;
                bottom: auto;
                right: 50px;
                border: 1px solid $white;
                padding: 6px;
                line-height: 14px;
                transition: 0.5s;
                position: static;

                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }

                span {
                    @include media-breakpoint-down-lg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .carousel-control-next {
                position: static;
                left: auto;
                height: auto;
                width: auto;
                display: block;
                top: 50%;
                bottom: auto;
                right: 50px;
                border: 1px solid $white;
                padding: 6px;
                line-height: 14px;
                transition: 0.5s;

                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }

                span {
                    @include media-breakpoint-down-lg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .services {
        padding-block: 50px;

        .service-content {
            background: $light-blue;
            padding: 30px;
            text-align: center;
            transition: 0.5s;

            .service-image {
                svg {
                    font-size: 40px;
                    margin-bottom: 20px;
                    color: $primary;
                }
            }

            p {
                color: $gray4;
                margin-top: 10px;
            }

            &:hover {
                background: $primary;
                color: $white;
                transform: translateY(-10px);

                .service-image {
                    svg {
                        color: $white;
                    }
                }

                p,
                h4 {
                    color: $white;
                }
            }
        }
    }

    .about-us {
        text-align: center;

        .about-image {
            max-height: 470px;

            img {
                object-fit: cover;
                max-height: 470px;
            }
        }

        .about-content {
            text-align: left;

            p {
                color: $black;
                margin-bottom: 20px;

                @include media-breakpoint-down-lg {
                    margin-bottom: 10px;
                }
            }

            .about-list {
                margin-top: 20px;

                ul {
                    column-count: 2;

                    p {
                        color: $black;
                        margin-bottom: 10px;

                        svg {
                            margin-right: 10px;
                            color: $primary;
                        }
                    }
                }
            }

            .action {
                margin-top: 20px;

                @include media-breakpoint-down-lg {
                    margin-bottom: 10px;
                }
            }
        }

        h2 {
            margin-block: 10px 20px;
            font-size: 40px;
            line-height: 44px;

            @include media-breakpoint-down-lg {
                font-size: 27px;
                line-height: 34px;
                margin-bottom: 10px;
            }
        }
    }

    .categories {
        text-align: center;
        padding-block: 50px;

        .image-section {
            position: relative;

            .image {
                overflow: hidden;

                img {
                    height: 100%;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .content {
                position: absolute;
                bottom: 5px;
                right: 5px;
                background: $white;
                padding: 10px 20px;
            }
        }
    }

    .courses {
        text-align: center;
        padding-block: 50px;

        .course-card {
            background-color: $shade-blue;

            .card-image {
                position: relative;

                .image {
                    overflow: hidden;
                    height: 100%;

                    img {
                        transition: 0.5s;
                        height: 100%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .card-action {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;

                    a {
                        padding: 10px;
                        font-size: 11px;

                        &.first-action {
                            border-radius: 50px 0px 0px 50px;
                        }

                        &.second-action {
                            border-radius: 0 50px 50px 0;
                            border-left: 1px solid $gray2;
                        }
                    }
                }
            }

            .card-content {
                padding-top: 20px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                .ratings {
                    margin-bottom: 10px;

                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 9px;

                        svg {
                            color: $primary;
                        }
                    }
                }

                h3 {
                    font-size: 20px;
                    line-height: normal;
                    margin-bottom: 20px;
                }

                .bottom-section {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid $gray1;
                    padding-block: 10px;

                    li {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        justify-content: center;

                        &:not(:last-child) {
                            border-right: 1px solid $gray1;
                        }

                        p {
                            font-size: 15px;
                            color: $black;
                        }

                        svg {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    .instructors {
        padding-block: 50px;
        text-align: center;

        .instructor-card {
            background-color: $shade-blue;

            .instructor-image {
                position: relative;

                .image {
                    overflow: hidden;
                    height: 100%;

                    img {
                        transition: 0.5s;
                        height: 100%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .instructor-social {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $shade-blue;
                padding: 15px 10px;
                border-radius: 5px;

                ul {
                    display: flex;
                    gap: 0;

                    li {
                        a {
                            margin: 5px 5px;
                            background: $primary;
                            padding: 5px 6px;
                            color: $white;
                        }
                    }
                }
            }

            .instructor-content {
                padding-block: 40px 20px;

                span {
                    color: $gray4;
                }
            }
        }
    }

    .testimonial {
        text-align: center;

        .testimonial-slider {
            .slider-container {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                    z-index: 1;
                    width: 300px;

                    @include media-breakpoint-down-lg {
                        width: 200px;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                    z-index: 1;
                    width: 300px;

                    @include media-breakpoint-down-lg {
                        width: 200px;
                    }
                }

                .slick-slider {
                    .slick-slide {
                        padding-inline: 20px;
                        opacity: 0.5;
                        .slide-card {
                            .testimonial-image {
                                .image-wrapper {
                                    max-width: 100px;
                                    border-radius: 50px;
                                    overflow: hidden;
                                    margin: auto;
                                    border: 1px solid $gray2;
                                    padding: 0;
                                    height: 100px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        margin: auto;
                                        width: 85px;
                                        object-fit: cover;
                                        height: 85px;
                                        border-radius: 50px;
                                    }
                                }
                            }

                            .para {
                                margin-top: 20px;
                                padding: 24px;
                                transition: 0.8s;
                                background-color: $shade-blue;
                            }
                        }

                        &.slick-current {
                            opacity: 1;
                            .para {
                                background-color: $primary;
                                p {
                                    color: $white;
                                }

                            }
                        }
                    }
                }

                .dots {
                    .dot {
                        position: relative;
                        display: inline-block;
                        margin: 0 5px;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #CCCCCC;
                        transition: .5s;

                        &.active {
                            background-color: $primary;
                            border-color: $primary;
                        }
                    }
                }
            }
        }
    }
}