@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.homepage {
    .main-banner {
        .banner-item {
            position: relative;

            .banner-content {
                position: absolute;
                left: 0;
                height: 100%;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(24, 29, 56, .7);
                display: flex;
                flex-direction: column;
                justify-content: center;

                h1 {
                    color: $white;
                }

                .banner-main {
                    padding-left: 10%;
                    max-width: 80%;
                }
            }
        }

        .carousel {
            .carousel-action {
                position: absolute;
                top: 50%;
                left: auto;
                right: 50px;
                display: flex;
                justify-content: space-between;
                transform: translateY(-50%);
                flex-direction: column;
                gap: 20px;
            }

            .carousel-control-prev {
                left: auto;
                height: auto;
                width: auto;
                display: block;
                top: 40%;
                bottom: auto;
                right: 50px;
                border: 1px solid $white;
                padding: 6px;
                line-height: 14px;
                transition: 0.5s;
                position: static;

                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }

                span {
                    @include media-breakpoint-down-lg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .carousel-control-next {
                position: static;
                left: auto;
                height: auto;
                width: auto;
                display: block;
                top: 50%;
                bottom: auto;
                right: 50px;
                border: 1px solid $white;
                padding: 6px;
                line-height: 14px;
                transition: 0.5s;

                &:hover {
                    background-color: $primary;
                    border-color: $primary;
                }

                span {
                    @include media-breakpoint-down-lg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .services {
        padding-block: 50px;

        .service-content {
            background: $light-blue;
            padding: 30px;
            text-align: center;
            transition: 0.5s;

            .service-image {
                svg {
                    font-size: 40px;
                    margin-bottom: 20px;
                    color: $primary;
                }
            }

            p {
                color: $gray4;
                margin-top: 10px;
            }

            &:hover {
                background: $primary;
                color: $white;
                transform: translateY(-10px);

                .service-image {
                    svg {
                        color: $white;
                    }
                }

                p,
                h4 {
                    color: $white;
                }
            }
        }
    }

    .about-us {
        text-align: center;

        .about-image {
            max-height: 470px;

            img {
                object-fit: cover;
                max-height: 470px;
            }
        }

        .about-content {
            text-align: left;

            p {
                color: $black;
                margin-bottom: 20px;

                @include media-breakpoint-down-lg {
                    margin-bottom: 10px;
                }
            }

            .about-list {
                margin-top: 20px;

                ul {
                    column-count: 2;

                    p {
                        color: $black;
                        margin-bottom: 10px;

                        svg {
                            margin-right: 10px;
                            color: $primary;
                        }
                    }
                }
            }

            .action {
                margin-top: 20px;

                @include media-breakpoint-down-lg {
                   margin-bottom: 10px;
                }
            }
        }

        h2 {
            margin-block: 10px 20px;
            font-size: 40px;
            line-height: 44px;

            @include media-breakpoint-down-lg {
                font-size: 27px;
                line-height: 34px;
                margin-bottom: 10px;
            }
        }
    }

    .categories {
        text-align: center;
        padding-block: 50px;
        .image {
            overflow: hidden;
            img {
                height: 100%;
                transition: 0.5s;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }
}