@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.about-us {
    .main-image-section {
        position: relative;
        max-height: 350px;
        overflow: hidden;

        &::before {
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7));
            width: 100%;
            height: 100%;
        }

        img {
            height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .services {
        padding-block: 50px;

        .service-content {
            background: $light-blue;
            padding: 30px;
            text-align: center;
            transition: 0.5s;

            .service-image {
                svg {
                    font-size: 40px;
                    margin-bottom: 20px;
                    color: $primary;
                }
            }

            p {
                color: $gray4;
                margin-top: 10px;
            }

            &:hover {
                background: $primary;
                color: $white;
                transform: translateY(-10px);

                .service-image {
                    svg {
                        color: $white;
                    }
                }

                p,
                h4 {
                    color: $white;
                }
            }
        }
    }

    .instructors {
        padding-block: 50px;
        text-align: center;

        .instructor-card {
            background-color: $shade-blue;

            .instructor-image {
                position: relative;

                .image {
                    overflow: hidden;
                    height: 100%;

                    img {
                        transition: 0.5s;
                        height: 100%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .instructor-social {
                position: absolute;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $shade-blue;
                padding: 15px 10px;
                border-radius: 5px;

                ul {
                    display: flex;
                    gap: 0;

                    li {
                        a {
                            margin: 5px 5px;
                            background: $primary;
                            padding: 5px 6px;
                            color: $white;
                        }
                    }
                }
            }

            .instructor-content {
                padding-block: 40px 20px;

                span {
                    color: $gray4;
                }
            }
        }
    }

}