@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.header {

    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    background-color: $white;

    .navbar-brand {
        max-width: 230px;

        @include media-breakpoint-down-lg {
            max-width: 200px;
        }
    }

    .navbar-toggler {
        @include media-breakpoint-down-lg {
            background: #ffffff;
            display: flex;
            width: 40px;
            height: 30px;
            align-items: center;
        }
    }

    .navbar-collapse {
        @include media-breakpoint-down-lg {
            border-top: 1px solid $gray2;
            position: absolute;
            top: 100%;
            width: 100%;
            background: $white;
            left: 0;
            padding-inline: 20px;
            margin-top: 0;
            padding-bottom: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
        }
    }

    .nav-item {
        margin-right: 30px;
        
        @include media-breakpoint-down-xxl {
            margin-right: 20px;
        }
        @include media-breakpoint-down-lg {
           width: 100%; 
        }

        a.nav-link {
            font-family: 'heebo';
            color: $black;
            text-transform: uppercase;
            font-size: 15px;
            letter-spacing: 1px;
            padding: 10px 0px;
            position: relative;
            font-weight: 500;

            &:hover {
                color: $primary;

            }

            &.active {
                color: $primary;

            }

        }

        .submenu {
            position: absolute;

            background-color: $white;
            width: 160px;
            height: 0px;
            padding: 0px;
            border: 0;
            transition: 0.5s;
            overflow: hidden;

            @include media-breakpoint-down-lg {
                position: static;
                width: 100%;
            }

            a {
                font-family: 'heebo';
                color: $black;
                text-decoration: none;
                padding: 5px 15px;
                display: block;

                &:hover {
                    background-color: $gray;

                }

                &.active {
                    background-color: $primary;
                }
            }

            .dropdown {
                padding-left: 0;
                list-style: none;
            }
        }

        &:hover {
            .submenu {
                display: block;
                border: 1px solid $gray1;
                height: 130px;
                padding: 10px 0px;
            }
        }
    }

    .navbar-collapse {
        justify-content: space-between;

        ul {
            justify-content: end;
            width: 100%;
            align-items: center;
            @include media-breakpoint-down-lg {
                align-items: start;
            }
        }

    }


    .social-menu {
        display: flex;
        align-items: center;



        .social-media-icons {
            ul {
                display: flex;
                list-style: none;
                gap: 15px;
                margin-bottom: 0;
                padding-left: 0;

                li {
                    a {
                        img {
                            max-width: 20px;
                            filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
                        }
                    }
                }
            }
        }
    }
}

