@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.footer {
    background-color: $black-dim;
    padding-block: 100px 40px;
    margin-top: 30px;
    .row {
        gap: 20px 0;
    }
    h5,
    a,
    svg {
        color: $white;
    }

    h5 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 16px;
    }

    .footer-menu {
        ul {
            li {
                margin-bottom: 10px;

                svg {
                    font-size: 14px;
                    margin-right: 6px;
                }

                a {
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 24px;
                    transition: 0.4s;
                    color: $white;

                    &:hover {
                        letter-spacing: 1px;
                    }
                }
            }
        }
    }

    .contact-menu {
        ul {
            li {
                display: flex;
                gap: 5px;
                margin-bottom: 20px;

                a {
                    color: $white;
                    line-height: 16px;
                }

                .social-menu {
                    margin-top: 10px;

                    ul {
                        display: flex;
                        gap: 20px;

                        li {
                            margin-bottom: 0;

                            a {
                                height: 35px;
                                width: 35px;
                                border: 1px solid $gray2;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 50%;
                                transition: 0.5s;

                                &:hover {
                                    background-color: $gray;

                                    svg {
                                        color: $primary;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .gallery {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        li {
            flex: 0 0 30%;
            padding: 5px;
            background-color: $white;
        }
    }

    .news-letter {
        .your-email {
            display: flex;
            margin-top: 10px;
            input {
                border-radius: 0;
                height: 54px;
                &:focus {
                    border-color: transparent;
                }
            }
            button {
                padding: 10px;
            }
        }
    }

    .footer-cookies {
        padding-top: 30px;
        border-top: 1px solid $gray4;
        margin-top: 40px;
         p {
            color: $white;
         }
        .footer-submenu {
            ul {
                display: flex;
                justify-content: end;
                @include media-breakpoint-down-md {
                    justify-content: start;
                }
                li {
                    margin-left: 10px;
                    padding-right: 10px;
                    &:not(:last-child) {
                    border-right: 1px solid $gray4;
                    }
                }
            }
        }
    }
}