@use '../../styles/components/variables' as *;
@use '../../styles/components/mixin' as *;

.about-us {
    .main-image-section {
        position: relative;
        max-height: 350px;
        overflow: hidden;

        &::before {
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            background: linear-gradient(rgba(24, 29, 56, .7), rgba(24, 29, 56, .7));
            width: 100%;
            height: 100%;
        }

        img {
            height: 340px;
            width: 100%;
            object-fit: cover;

            @include media-breakpoint-down-lg {
                min-height: 180px;
                object-fit: cover;
            }
        }

        .main-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 60px;
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                margin-bottom: 15px;

                @include media-breakpoint-down-xxl {
                    font-size: 50px;
                }

                @include media-breakpoint-down-lg {
                    font-size: 30px;
                }
            }
        }
    }

    .categories {
        text-align: center;
        padding-block: 50px;

        .image-section {
            position: relative;

            .image {
                overflow: hidden;

                img {
                    height: 100%;
                    transition: 0.5s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            .content {
                position: absolute;
                bottom: 5px;
                right: 5px;
                background: $white;
                padding: 10px 20px;
            }
        }
    }

    .courses {
        text-align: center;
        padding-block: 50px;

        .course-card {
            background-color: $shade-blue;

            .card-image {
                position: relative;

                .image {
                    overflow: hidden;
                    height: 100%;

                    img {
                        transition: 0.5s;
                        height: 100%;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }

                .card-action {
                    position: absolute;
                    bottom: 30px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;

                    a {
                        padding: 10px;
                        font-size: 11px;

                        &.first-action {
                            border-radius: 50px 0px 0px 50px;
                        }

                        &.second-action {
                            border-radius: 0 50px 50px 0;
                            border-left: 1px solid $gray2;
                        }
                    }
                }
            }

            .card-content {
                padding-top: 20px;

                h2 {
                    font-size: 30px;
                    margin-bottom: 10px;
                }

                .ratings {
                    margin-bottom: 10px;

                    ul {
                        display: flex;
                        justify-content: center;
                        gap: 9px;

                        svg {
                            color: $primary;
                        }
                    }
                }

                h3 {
                    font-size: 20px;
                    line-height: normal;
                    margin-bottom: 20px;
                }

                .bottom-section {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid $gray1;
                    padding-block: 10px;

                    li {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        justify-content: center;

                        &:not(:last-child) {
                            border-right: 1px solid $gray1;
                        }

                        p {
                            font-size: 15px;
                            color: $black;
                        }

                        svg {
                            color: $primary;
                        }
                    }
                }
            }
        }
    }

    .testimonial {
        text-align: center;

        .testimonial-slider {
            overflow: hidden;

            .slider-container {
                position: relative;

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                    z-index: 1;
                    width: 300px;

                    @include media-breakpoint-down-lg {
                        width: 200px;
                    }

                    @include media-breakpoint-down-md {
                        width: 0;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    right: 0;
                    height: 100%;
                    width: 0;
                    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
                    z-index: 1;
                    width: 300px;

                    @include media-breakpoint-down-lg {
                        width: 200px;
                    }

                    @include media-breakpoint-down-md {
                        width: 0;
                    }
                }

                .slick-slider {
                    .slick-slide {
                        padding-inline: 20px;
                        opacity: 0.5;

                        .slide-card {
                            .testimonial-image {
                                .image-wrapper {
                                    max-width: 100px;
                                    border-radius: 50px;
                                    overflow: hidden;
                                    margin: auto;
                                    border: 1px solid $gray2;
                                    padding: 0;
                                    height: 100px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;

                                    img {
                                        margin: auto;
                                        width: 85px;
                                        object-fit: cover;
                                        height: 85px;
                                        border-radius: 50px;
                                    }
                                }
                            }

                            .para {
                                margin-top: 20px;
                                padding: 24px;
                                transition: 0.8s;
                                background-color: $shade-blue;
                            }
                        }

                        &.slick-current {
                            opacity: 1;

                            .para {
                                background-color: $primary;

                                p {
                                    color: $white;
                                }

                            }
                        }
                    }
                }

                .dots {
                    margin-top: 20px;

                    .dot {
                        position: relative;
                        display: inline-block;
                        margin: 0 5px;
                        width: 15px;
                        height: 15px;
                        border: 1px solid #CCCCCC;
                        transition: .5s;

                        &.active {
                            background-color: $primary;
                            border-color: $primary;
                        }
                    }
                }
            }
        }
    }
}